<div class="dashboard-container">
  <div class="dashboard-sidenav">
    <h1>AI-MELT</h1>

    <a routerLink="/document-upload">
      <span class="material-icons">upload_file</span>
      Upload Document
    </a>
    <a routerLink="/metaphor-identification">
      <span class="material-icons">psychology</span>
      Detect & Classify Metaphors
    </a>
    <a routerLink="/scenario-identification">
      <span class="material-icons">search</span>
      Identify Scenarios
    </a>
    <a routerLink="/regime-identification">
      <span class="material-icons">account_tree</span>
      Identify Regimes
    </a>
    <a routerLink="/regime-rating">
      <span class="material-icons">grading</span>
      Rate Regimes
    </a>
    <a routerLink="/mobilization-metaphors">
      <span class="material-icons">emoji_objects</span>
      Mobilization Metaphors
    </a>
  </div>

  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>
