<div class="dashboard-container">
  <div class="dashboard-sidenav">
    <h1>AI-MELT</h1>
    <a routerLink="/document-upload">1. Upload Document</a>
    <a routerLink="/metaphor-identification">2. Detect & Classify Metaphors</a>
    <a routerLink="/scenario-identification">3. Identify Scenarios</a>
    <a routerLink="/regime-identification">4. Identify Regimes</a>
    <a routerLink="/regime-rating">5. Rate Regimes</a>
    <a routerLink="/mobilization-metaphors">6. Mobilization Metaphors</a>
  </div>
  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>
